/***** Styling for the Parsley Form Validation plugin. *****/
/* Styles the parsley error messages. */
.parsley-errors-list.filled {
    position: relative;
    color: #FFF;
    text-align: left;
    margin: 10px 0 0 0;
    padding: 8px 20px;
    background-color: #EF6262;
}
/* Creates the little 'triangle' above the error message box. */
.parsley-errors-list.filled:after {
    content: "";
    position: absolute;
    top: -6px;
    left: 20px;
    display: block;
    width: 0;
    height: 0;
    -moz-transform: scale(0.9999);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #EF6262;
}
.parsley-errors-list.filled > li {
    list-style: none;
}
